<link rel="stylesheet" href="/css/style.css">
<script src="/js/main.js"></script> <!-- Enlace al archivo main.js -->
<h1 class="title"> 游댠Midland Shopping "CDM"游댠</h1>

<div class="productsContainer">
    {{#each productos}}
    <div class="card">
        <img src="{{this.thumbnails}}" alt="imagen" class="image"> </img>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>$ {{this.price}}</p>
        <!-- Bot칩n para ver detalles del producto -->
        <a href="/products/{{this._id}}" class="button">Ver Detalles</a>

    </div>
    {{/each}}
</div>

<!-- Bot칩n para ir al carrito -->
<div class="cart-button">
    <a href="/carts/66c55c66b5969a064c52a69c" class="button">Ver mi carrito</a>
</div>

<!-- Paginaci칩n -->
<div class="pagination">
    {{#if prevPage}}
        <a class="buttonPag" href="/products?page={{prevPage}}{{#if sort}}&sort={{sort}}{{/if}}">拘勇뀷치gina anterior</a>
    {{/if}}
    {{#if nextPage}}
        <a class="buttonPag" href="/products?page={{nextPage}}{{#if sort}}&sort={{sort}}{{/if}}">P치gina siguiente俱뫮잺</a>
    {{/if}}
</div>