<link rel="stylesheet" href="/css/style.css">
<script src="/js/main.js"></script>
<h1 class="title">{{product.title}}</h1>
<div class="productDetails">
    <img src="{{product.thumbnails}}" alt="imagen"> </img>
    <p><strong>Descripción:</strong> {{product.description}}</p>
    <p><strong>Precio:</strong> $ {{product.price}}</p>
    <p><strong>Categoría:</strong> {{product.category}}</p>
</div>